<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>원, 선, 사각형, 다각형 표시하기</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function show_stations(){
            $.ajax({
                type:'GET',
                url:'busstation',
                dataType: 'json',
                success:function(data){
                    console.log("버스정거장불러오기성공");
                    for (i in data){
                        document.getElementById("busstations").innerHTML+=`${i}${data[i]['정류장 명칭']}${data[i]['위도']}${data[i]['경도']}<br>`
                    }
                },
                error : function(xhr,errmsg,err) {
                    console.log("버스정거장불러오기실패 : "+xhr.status + ": " + xhr.responseText); 
                }
            });
        }    
        show_stations()
    </script>
</head>

<body>
<div id="map" style="width:100%;height:700px;"></div>    
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{appkey}}"></script>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = { 
        center: new kakao.maps.LatLng(37.199500, 127.107500), // 지도의 중심좌표
        level: 4 // 지도의 확대 레벨
    };  

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

var a = 37.193714
var b = 37.205152
var c = 127.095103
var d = 127.116086
var sw = new kakao.maps.LatLng(a, c), // 사각형 영역의 남서쪽 좌표
    ne = new kakao.maps.LatLng(b, d); // 사각형 영역의 북동쪽 좌표

// 사각형을 구성하는 영역정보를 생성합니다
// 사각형을 생성할 때 영역정보는 LatLngBounds 객체로 넘겨줘야 합니다
var rectangleBounds = new kakao.maps.LatLngBounds(sw, ne);

// 지도에 표시할 사각형을 생성합니다
var rectangle = new kakao.maps.Rectangle({
    bounds: rectangleBounds, // 그려질 사각형의 영역정보입니다
    strokeWeight: 4, // 선의 두께입니다
    strokeColor: 'red', // 선의 색깔입니다
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'shortdashdot', // 선의 스타일입니다
    fillColor: 'yellow', // 채우기 색깔입니다
    fillOpacity: 0.5 // 채우기 불투명도 입니다
});

// 지도에 사각형을 표시합니다
rectangle.setMap(map);


var polyline = new kakao.maps.Polyline({
    map: map,
    path: [
        new kakao.maps.LatLng(a, d),
        new kakao.maps.LatLng(b, c),
        new kakao.maps.LatLng(33.45178067090639, 126.5726886938753) 
    ],
    strokeWeight: 2,
    strokeColor: '#FF00FF',
    strokeOpacity: 0.8,
    strokeStyle: 'dashed'
});

polyline.setMap(map); 
</script>





<div id="busstations">

</div>
</body>
</html>